# .env file
.env

# Frontend
src/frontend/.DS_Store
src/frontend/node_modules
src/frontend/dist


# local env files
src/frontend/.env.local
src/frontend/.env.*.local

# Log files
src/frontend/npm-debug.log*
src/frontend/yarn-debug.log*
src/frontend/yarn-error.log*
src/frontend/pnpm-debug.log*

# Editor directories and files
src/frontend/.idea
src/frontend/.vscode
src/frontend/*.suo
src/frontend/*.ntvs*
src/frontend/*.njsproj
src/frontend/*.sln
src/frontend/*.sw?
