// Elements
$backgroundColor: #eff0f3;
$headlineColor: #0d0d0d;
$paragraphColor: #2a2a2a;
$buttonColor: #ff8e3c;
$buttonTextColor: #0d0d0d;

// Icons
$strokeColor: #0d0d0d;
$mainColor: #eff0f3;
$highlightColor: #ff8e3c;
$secondaryColor: #fffffe;
$tertiaryColor: #d9376e;